/main
/.multirust
/.cargo
/rustup-init*
*.a
*.o
*.so
*.dylib
*.dll
*.exe
*.dSYM
*.rawvideo
*.mp4
*.swp
*log.txt
.DS_Store
/compile-artifacts
/deps
/github.com

#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
