/main
*.a
*.o
*.so
*.dylib
*.dll
*.exe
*.dSYM
*.rawvideo
*.mp4
*.swp
*log.txt
.DS_Store
/build
/build32
/build64
/deps

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
